/*main*/
body{
    background-color: #232532;
}



.topnav {
    background-color: #8C8D93;
    overflow: hidden;
    width: 100%;
  }
  

  .topnav a {
    float: left;
    color: #ffffff;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 5px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
 
  .topnav a:hover {
    color: #333;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
  }
  
  .topnav a.active {
    color: white;
    font-size: 28px;
    font-family: "Poppins", system-ui;
    font-weight: 700;
    font-style: normal;
    margin-top: 3px;
  }

/* Juliette (Individual)*/

    /* Page .... */

        /*movie titles*/
        h8{
            color: #ffffff;
            font-size: 64px;
            font-family: "Poppins", sans-serif;
            font-weight: 700;
            font-style: normal;
            }

        /* info on movies uses h6*/

        .button3{
            background-color:#784DF4 ;
            width: 200px;
        }
        

/* Bianca (Homepage)*/

    /* Homepage */

        /* CSS Type */

/* Andre (Sign-In & Watchlist)*/

    /* Pages .... */

    /* sign in .... */

       /* welcome header*/
       .h1{
        color: #ffffff;
        font-size: 40px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        }

        /* welcome header*/
       .welcomeHeader{
        color: #ffffff;
        font-size: 40px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        }

        /* email and password */
       h2{
        color: #BAB6B6;
        font-size: 22px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        }

        /* welcome header*/
       h3{
        color: #ffffff;
        font-size: 22px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        }

        /* log in button*/
       .button1{
        background-color:#784DF4 ;
        width: 300px;
        height: 80px;
        border-radius: 25px;
        }

        /* text before the link to swicth form login to sign up*/
       .h4{
        color: #BAB6B6;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        }

        /* text before the link to swicth form login to sign up*/
       .h5{
        color: #ffffff;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        }

        h10{
          color: #ffffff;
          font-size: 40px;
          font-family: "Poppins", system-ui;
          font-weight: 600;
          font-style: normal;
        }



    /* watch later .... */

        /*home library watch list links*/
        h6{
        color: #ffffff;
        font-size: 24px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        }

        /*movie titles uses h6*/

  

        /*ENG*/
        h7{
        color: #ffffff;
        font-size: 24px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        }


        /* log in button  text for button h4*/
        .button2{
        background-color:#AEF504 ;
        width:200px;
        }
      /*year and rating uses h9*/
        h9{
            color: #ffffff;
            font-size: 16px;
            font-family: "Poppins", sans-serif;
            font-weight: 300;
            font-style: normal;
            }

            
            h12{
            color: #ffffff;
          font-size: 24px;
         font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
       }
        

/* Iwan (Library)*/

    /* Page .... */

        /* CSS Type */