@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(../assets/lodin\ back.jpg) no-repeat;
  background-position: center;
}




.topnav {
    background-color: #8C8D93;
    overflow: hidden;
    width: 100%;
  }
  

  .topnav a {
    float: left;
    color: #ffffff;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 5px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
 
  .topnav a:hover {
    color: #333;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
  }
  
  .topnav a.active {
    color: white;
    font-size: 28px;
    font-family: "Poppins", system-ui;
    font-weight: 700;
    font-style: normal;
    margin-top: 3px;
  }

/*all text */

  /*nav text*/

    /*links to other pages non-active text*/
    h6{
     color: #ffffff;
     font-size: 24px;
     font-family: "Poppins", sans-serif;
     font-weight: 300;
     font-style: normal;
     }

     /*links to other pages active text*/
     h11{
      color: #ffffff;
      font-size: 28px;
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-style: normal;
      }
    
    /*ENG text*/
    h7{
      color: #ffffff;
      font-size: 24px;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-style: normal;
      }


  /*andre*/
  /*sign-in page*/

  .innerBlock{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(35, 37, 50, 100);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #ffffff;
    border-radius: 10px;
    padding: 30px 40px;
  }
  .innerBlock .input-box{
    width: 100%;
    height: 50px;
    background: transparent;
    margin: 30px 0;
  }

  .innerBlock .signInLogo{
    display: block;
    margin-left: 65px;
    margin-right: auto;
    width: 50%;
  }

  .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 40px;
    color: #BAB6B6;
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 20px 45px 20px 20px;
  }
  

  .input-box input::placeholder {
    color: #BAB6B6;
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(186, 182, 182);
  }

  .innerBlock .log-in{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 45px;
    background: #784DF4;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .innerBlock .sign-upLink{
    color: #BAB6B6;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 20px 0 15px;
  }

  .sign-upLink p a {
    color: #ffffff;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
  }

  .sign-upLink p a:hover{
    text-decoration: underline;
  }


    /*welcome header text*/
    h1{
     color: #ffffff;
     font-size: 40px;
     font-family: "Poppins", sans-serif;
     font-weight: 700;
     font-style: normal;
     text-align: center;
     }


    /*email and password text*/
    h2{
     color: #BAB6B6;
     font-size: 22px;
     font-family: "Poppins", sans-serif;
     font-weight: 400;
     font-style: normal;
     }


    /*log in button text*/
    h3{
     color: #ffffff;
     font-size: 22px;
     font-family: "Poppins", sans-serif;
     font-weight: 700;
     font-style: normal;
     }

    /*Don’t have an account? text*/
    h4{
     color: #BAB6B6;
     font-size: 16px;
     font-family: "Poppins", sans-serif;
     font-weight: 400;
     font-style: normal;
     }



    /*sign up page link text*/
    h5{
      color: #ffffff;
      font-size: 16px;
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-style: normal;
      }


  /*sign up text*/

    /*sign-up page link text*/
    h10{
      color: #ffffff;
      font-size: 40px;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-style: normal;
      }
      
    /*username.ect text uses h2*/

    /*sign up button text uses h3*/

    /*Already have an account? text uses h4*/

    /*log in page link text uses h5*/

  /*watch-list page*/

    /*movie title (card) text*/
    h12{
      color: #ffffff;
      font-size: 24px;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
      }

    /*YEAR,rating & button text*/
    h9{
      color: #ffffff;
      font-size: 16px;
      font-family: "Poppins", sans-serif;
      font-weight: 300;
      font-style: normal;
      }

  /*Juliette*/

  /*individual*/

    /*movie title text*/
    h8{
      color: #ffffff;
      font-size: 64px;
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-style: normal;
      }

    /*director,cast,ect. text uses h6*/

    /*button text uses h3*/

/*Bianca*/

/*Homepage*/

  /*director & rating text uses h9*/

  /*movie title text*/
  h15{
    color: #ffffff;
    font-size: 80px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
     font-style: normal;
     }

  /*Short description if movie text uses h6*/

  /*button text text*/
  h14{
    color: #ffffff;
    font-size: 28px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    }

  /*trending now, popular, ect. filleter active text*/
  h16{
    color: #ffffff;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    }

  /*trending now, popular, ect. filleter non-active text uses h6*/

  /*action, adventure, ect. filleter active text uses h3*/

  /*action, adventure, ect. filleter non-active text*/
  h13{
    color: #ffffff;
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    }

  /*movie title (card) text uses h12*/

  /*YEAR,rating & button text uses h9*/

/*Iwan*/

/*Library*/

  /*gender, year, IMBD score dropdown menu text uses h6*/

  /*movie title (card) text uses h12*/

  /*YEAR,rating & button text uses h9*/